*{
    font-family: "Heebo", sans-serif;
}
html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
header{
    background-color: #FFEA01;
}
header > h1{
    margin: 0;
    text-align: center;
    padding: 5px 0;
}
.record{
    display: flex;
    justify-content: space-evenly;
}
.record > .record-item{
    background-color: #FFEA01;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid black;
}
.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.game > #gameDiv > .win-lose{
    font-size: 36px;
    font-weight: bold;
}
.game > #gameDiv > .win-lose > p{
    text-align: center;
}
.game > #gameDiv > .results{
    display: flex;
    width: 100%;
    justify-content: center;
}
.game > #gameDiv > .results > .election-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*.game > .results > .election-card > p{
    margin: 0;
}*/
.game > #gameDiv > .results > .election-card > .election{
    width: 250px;
    height: 250px;
    border: 5px solid black;
    margin: 0px 25px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game > #gameDiv > .results > .election-card > .election > img{
    width: 100%;
    height: 100%;
}
.game > .control-section{ 
    width: 100%;
}
.game > .control-section > .button-menu{
    display: flex;
    justify-content: space-evenly;
}
.game > .control-section > .button-menu > .button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game > .control-section > .button-menu > .button{
    border: 5px solid black;
    color: black;
    text-decoration: none;
    background-color: #FFEA01;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.game > .control-section > .button-menu > .button:hover{
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}
.game > .control-section > .button-menu >.button > img{
    border-bottom: 5px solid black;
    width: 250px;
    height: 250px;
}
.game > .play-again{
    background-color: #FFEA01;
    padding: 5px 10px;
    border-radius: 10px;
    border: 5px solid black;
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: 25px 0;
}
.game > .play-again:hover{
    background-color: white;
    font-weight: bold;
}
footer{
    background-color: #FFEA01;
    text-align: center;
    padding: 5px;
    border-top: 2px solid black;
}
footer > p {
    margin: 0;
}